ul li a:hover{
    text-decoration: none;
}

.links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: #131212 5px 5px 1px;
}
.links:hover{
    color: #ea0e0e;
    text-decoration: none;
}
.links-title:hover{
    color: #ffcdcd;
    text-decoration: none;
}

.links-title{
    
    text-decoration: none;
    
    width: 160px;
    height: 50px;

    font-family: 'Almendra';
    font-style: normal;
    
    font-size: auto;
    line-height: 137.9%;
    /* identical to box height, or 50px */

    
    letter-spacing: 0.195em;

    color: rgb(219, 210, 252);

    mix-blend-mode: normal;

    filter: blur(0.5px);
}