@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul li a:hover{
    text-decoration: none;
}

.links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: #131212 5px 5px 1px;
}
.links:hover{
    color: rgb(250, 125, 125);;
    text-decoration: none;
}
.links-title:hover{
    color: #ffcdcd;
    text-decoration: none;
}

.links-title{
    
    text-decoration: none;
    
    width: 160px;
    height: 50px;

    font-family: 'Almendra';
    font-style: normal;
    
    font-size: auto;
    line-height: 137.9%;
    /* identical to box height, or 50px */

    
    letter-spacing: 0.195em;

    color: rgb(219, 210, 252);

    mix-blend-mode: normal;

    filter: blur(0.5px);
}

.navbar-logo{
    display: inline;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 209, 141);
}

.navbar-logo:hover{
    color: rgb(250, 125, 125);
}