openslr/
wav2vec_trained_models/
tokenizer/
processor/
ne_np_female/
__pycache__/
.vscode/
wandb/
*.env
*.zip
node_modules/
pytorch_model.bin
training_checkpoints/
training-checkpoints/
archive/
model_new/
processor_new/
model_wav2vec/
results*.csv
trained_models
trained_models_new_final
output.txt
live_tests