.img{
    background-image: url("../..//static/image/background.jpg");
    height:500px;
    background-size: cover;
    z-index: -1;
}
body{
  background-image: linear-gradient(to top, #ffffff 100%, #dddbdb 50%);
  font-family:monospace;
}

body hr{
    width:50px;
    border: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25)
  }
  .container1{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    text-align: justify;
    transition: all 0.3s;
    font-family: 'Arima', cursive;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .container1 p{
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
  }
  
  .container1 p:first-child::first-letter{
    color:#FE5F55;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
  }
  
  @media screen and (max-width:900px){
    .container1{
        width: 100%;
        padding: 1rem;
        margin-top: 30px;;
    }
    .text{
      margin-top: 10px;
    }
    .button-three{
      margin-top: 10px;
    }
  }
  @media screen and (max-width:500px){
    p.about{
        font-size: 15px;
    }
    .project-title-english{
      display: none;
    }
    
  }
  @media screen and (min-width:900px){
    .container1{
        width: 80%;
        padding: 1rem;
        margin-top: 30px;
    }
    .text{
      margin-top: 10px;
    }
    .button-three{
      margin-top: 10px;
    }
  }
.button-three {
    position: relative;
    background-color: rgb(207, 235, 166);
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 15px;
    margin-right: 10px;
    
  }
  
  .button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
  }
  
  .button-three:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .h3{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: 'Roboto', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Cabin+Sketch&display=swap');  
.project-title{
  font-family: 'Cabin Sketch', cursive;
  color: #04480e;
  font-weight: bold;
  font-size: 40px;
}
.success{
  position:fixed;
  top: 0%;
  left: 5%;
  border-radius: 5px;
  background-color: rgb(15, 121, 52);
  animation-name: anime;
  animation-duration: 4s;
}

@keyframes anime{
  /* move from top to down */
  from { top: 0%; }
  to { top: 20%; }

}
.fa-check-circle,.fa-exclamation-triangle{
  animation-name: check-circle;
  animation-duration: 2s;
}
@keyframes check-circle{
  0% { transform: translate(5px, 5px) rotate(0deg); }
  50% { transform: translate(-5px, -2px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(5deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(5deg); }
  50% { transform: translate(-5px, 2px) rotate(-5deg); }
  60% { transform: translate(-3px, 5px) rotate(0deg); }
  70% { transform: translate(3px, 5px) rotate(-5deg); }
  80% { transform: translate(-5px, -5px) rotate(5deg); }
  90% { transform: translate(5px, 2px) rotate(0deg); }
  500% { transform: translate(5px, -2px) rotate(-5deg); }
}