input{
    display: none;
}
.audio{    
    /* display: flex;
    flex-direction: column;
    justify-items: center;       
    align-items: center;     */
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


/* //upload success */
#upload-file-info{
    color: rgb(28, 176, 8);
}
#wait-message{
    color: rgb(111, 8, 22);
}
#filename{
    color :rgb(49, 5, 208);
    font-size: 1.2rem;
    font-family: 'Arima', cursive;
    font-weight: bold;
    
}