.fa-heart{
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
        color: rgb(193, 11, 11);
    }
    50% {
        transform: scale(1.5);
        color: rgb(186, 65, 65);
    }
    100% {
        transform: scale(1);
        color :rgb(193, 11, 11);
    }
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footercontent{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

