.sound-wave{
    width: 400px;
}

.audio{
    margin-top: 60px;
}

.btn {
  
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin:5px;
}

.btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.mic{
  height: 150px;
}
select{
  width: 10%;
  height: 40px;
  /* border: 2px solid rgb(176, 56, 56); */
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #97d8c4;
}
.model-selection{
  /* border: 1px solid #862020;   */
  background-color: #0a2336;
  color: #fff;
  border-radius: 5px;
}
.record-status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #042035;
  width: 150px;
  margin: auto;
  color: white;
  border-radius: 10px;
  
}
.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  margin: 5px;
  animation-name: recording;
  animation-duration:3s ;
  animation-iteration-count: infinite;
}
@keyframes blinker{
  0% {opacity: 1;}
  50% {opacity: 0.2;}
  100% {opacity: 1;}
}
@keyframes recording {
  0% {background-color: #ff0000;}
  50% {background-color: #781b1b;}
  100% {background-color: #fbffff;}
}
#recording{
  animation-name: blinker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.model-text{
  background-color: #eff2f1 !important;
  color:black !important;
  border:none;
  align-items: center;
}

.showEvaluation-result{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#cer,#wer{
  background-color: #042035;
  border-radius: 3px;
  margin: 2px auto;
  color:white;
  padding:1rem;
  margin: 1rem auto;
}
#resultDiff{
  background-color: #eff2f1;
  padding: 10px 5px;
  margin: 10px auto;
  border-radius: 10px;
}
#representation{
  margin-top: 10px;
}

.liveOutput{
  display: none;
  flex-direction: column;
  width: 76%;
  border-radius: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #eff2f1;
}

.outputTitle{
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0;
  border-bottom:  3px solid #042035;
}

.sectionTitle{
  font-weight: 800;
  color: #781b1b;
  margin: 1.2rem 0;
  padding: 0.6rem;
  border-bottom: 1px solid black;
}

.evaluateOutput{
  display: flex;
  flex-direction: column;
  width: 76%;
  border-radius: 10px;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background-color: #c3cfd2; */
}

span{
  cursor: default;
}

.outputText{
  box-shadow: none;
}

.summaryOutput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76%;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  background-color: #eff2f1;
}

.sectionDivider{
  display: block;
  width: 100%;
  height: 4px;
  margin: 5rem 0 0 0;
  background-color: #3c4043;
}

#btn-transcript,#btn-stop{
  display: none;
}

.titleNote{
  padding: 10px;
  color: #fc2e2e;
  font-weight: 800 !important;
}