.scroll{
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid rgb(12, 203, 158);
    border-radius: 5px;
    background-color: rgb(12, 203, 158);
}
.scroll:hover{
    background-color: rgb(1, 17, 13);
    color: white;
    cursor: pointer;   

}
.fa-arrow-up{
    font-weight: bolder;
}