/* body{
  background-image: linear-gradient(to top, #4083ad 0%, #e2ebf0 100%);
} */
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}  